@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form asp-action="ChangePassword" method="post">
    <label for="oldpassword"></label>
    <input id="oldpassword" placeholder="Old password" />
    <label for="newpassword"></label>
    <input id="newpassword" placeholder="New password" />
    <button type="submit" class="btn btn-primary"> Change</button>
</form>