@model User
@*

    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    var userId = Context.Session.GetInt32("UserId");


}


@{
}
<div class="d-flex"> 
    <h2>Name:@Model.Username </h2>
    @if (userId == Model.UserID)
    {
        <a asp-action="ChangePassword" asp-controller="User"  class="ms-2">Change Password</a>
    }
</div>
<h4>   Books  </h4>

@if (ViewBag.Books != null  )
{
    <ul>
        @foreach (Book book in ViewBag.Books )

        {
            if
               (Model.UserID == book.UserID)
            {
                
            
            <li>
                <strong> Books Name:</strong> @book.BookName <br />
                <strong>Price:</strong> @book.BookPrice <br />
                <strong>Author ID:</strong> @book.UserID <br/>
            </li>
        }}
    </ul>
}
else
{
    <p>No books available for this user.</p>
}
