@model Book
@{
    ViewData["Title"] = "Product Detail";
}
<h1>Book Detail</h1>
<table class="table table-bordered table-striped">
    <tr>
        <td>ID</td>
        <td>@Model.BookID</td>
    </tr>
    <tr>
        <td>Name</td>
        <td>@Model.BookName</td>
    </tr>
    <tr>
        <td>Price</td>
        <td>@Model.BookPrice.ToString("C2")</td>
    </tr>
</table>
<a asp-controller="Home" asp-action="Index"
   class="btn btn-primary">Home</a>
