@model Book

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var userId = Context.Session.GetInt32("UserId");

}

<form asp-action="Edit" class="w-50 mx-auto d-flex flex-column gap-2" method="post">
    <input class="invisible" asp-for="UserID" value="@userId" />
    <div class="form-group">
        <label asp-for="BookName">Book name</label>
        <input asp-for="BookName" class="form-control" />
        <span asp-validation-for="BookName" class="text-danger"></span>
    </div>
    <input type="hidden" asp-for="BookID" />
    <div class="form-group">
        <label asp-for="BookPrice">Book Price</label>
        <input asp-for="BookPrice" class="form-control" />
        <span asp-validation-for="BookPrice" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>
<a asp-controller="Home" asp-action="Index" class="mt-5 btn btn-primary">Home</a>
